body {
    margin-top: 50px;
}

/**
 * Standard Navbar
 */
nav.navbar {
    z-index: 10;

    &.navbar-light {
        color: black;

        .nav-head,
        .nav-list {
            background-color: #ccc;
        }
    }

    &.navbar-dark {
        color: white;

        .nav-head,
        .nav-list {
            background-color: black;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .nav-head {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    
        height: 50px;

        z-index: 20;

        @include desktop {
            display: none;
        }
    }
}


/**
 * Hambuger
 */
.navbar-toggler {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 26px;
    height: 26px;

    cursor: pointer;

    .line {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: 0.3s ease-in-out;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }

    &.alt {
        .line {
            &:nth-of-type(1) {
                top: 50%;
                transform: translateY(-50%) rotate(135deg);
            }
    
            &:nth-of-type(2) {
                transform: translate(-200%, -50%);
                opacity: 0;
            }
    
            &:nth-of-type(3) {
                bottom: 50%;
                transform: translateY(50%) rotate(-135deg);
            }
        }
    }

    @include desktop {
        display: none;
    }
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

    &.collapsed {
        transform: translateY(-100%);
    }

    ul {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0;
        list-style-type: none;
    }

    @include desktop {
        position: absolute;

        height: 50px;
        transform: none;

        &.collapsed {
            transform: none;
        }

        ul {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            transform: none;

            flex-direction: row;
        }
    }
}